html {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar-nav {
  justify-content: space-between;
  width: 95%;
  padding-left: 25px;
}
.navbar-brand {
  min-width: 214px;
  display: flex;
}
.navbar-brand__regular {
  max-height: 100%;
  -webkit-transition: max-height 0.5s ease-in;
  -moz-transition: max-height 0.5s ease-in;
  -o-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(30, 30, 30, 0.85);
}
.bg-light {
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 85px;
}
.header-content {
  position: relative;
  height: 100vh;
  background-image: url("../images/typing-in-office-p-674-m-8-f.jpg");
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-top: 85px;
}

.header-content svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* set height to pixels if you want angle to change with screen width */
}

.Grupo-1-copia {
  width: 770px;
  height: 443px;
  object-fit: contain;
}

.icon-app {
  width: 58px;
  height: 58px;
  margin: 15px auto;
  object-fit: contain;
}

.icon-solution {
  width: 56px;
  height: 57px;
  object-fit: contain;
}
.platform {
  background-color: #eaf4ff;
  height: 475px;
}

.app-bg {
  background-image: url("../images/rect-ngulo-redondeado-2@2x.png");
  background-size: cover;
}

.img-app {
  position: absolute;
  top: -52px;
  width: 150%;
  right: 0%;
}

.btn-primary {
  background-image: linear-gradient(to right, #04befe, #4481eb);
  border-radius: 3px;
  border: none;
  font-size: 0.8rem;
  padding: 10px 15px;
}

.btn-secondary {
  border-radius: 3px;
  background-color: #282a2e;
  color: #fff;
  font-size: 0.7rem;
  margin: 7px 0;
}
h1,
h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}
.us {
  background-image: url("../images/us-bg-1.png");
  background-size: 72%;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 670px;
  margin-top: 85px;
}
.cifra {
  color: #155ce0;
  font-size: 2.5rem;
  font-weight: 600;
}
.cifra-black {
  font-size: 2.2rem;
  font-weight: 900;
  padding: 10px 0;
}

h4 {
  font-weight: 600;
}

.solucion-card {
  border-radius: 22px;
  height: 290px;
  padding: 20px;
}

.solucion-card:hover {
  box-shadow: 0px 1px 13px 0px rgba(9, 9, 9, 0.11);
}

.btn-outline-gray {
  border-radius: 25px;
  background-color: rgb(236, 236, 236);
  font-size: 0.9rem;
  padding: 10px 25px;
  opacity: 0;
  transform: opacity 3s linear;
  color: #333;
}

.h-30 {
  height: 30px;
}

.solucion-card:hover .btn-outline-gray {
  opacity: 1;
}

.footer {
  background-color: rgb(39, 39, 39);
  color: #fff;
}

.footer-nav {
  justify-content: space-between;
  width: 95%;
}

.footer-nav .nav-link {
  color: #fff;
}

.footer-bottom {
  background-color: rgb(30, 30, 30);
  height: 80px;
}

.valor {
  background-image: url("../images/bg-valor.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: bottom;
  height: 500px;
}

.btn-orange {
  background-color: rgb(255, 86, 38);
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 0.9rem;
  padding: 10px 20px;
}

.icon-img {
  height: 16px;
  padding: 0 10px;
}

.ia {
  background-image: url("../images/bg-ia.jpg");
  background-size: cover;
  background-position-y: 50%;
  height: auto;
  padding: 2rem 0;
}

.chatbots {
  background-image: url("../images/bg-chatbots.jpg");
  background-size: 57%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  height: 100vh;
}
.chatbots .smartphone {
  height: 500px;
  margin: 3rem;
}
.gif {
  height: 364px;
  margin: 3rem;
  position: absolute;
  right: 36%;
  top: 10%;
}
.gif-person-1 {
  position: absolute;
  right: 20%;
  width: 445px;
  margin-top: 5rem;
  transform: rotate(-12deg);
}
.gif-person-2 {
  position: absolute;
  right: 9%;
  width: 185px;
  margin-top: 19rem;
  transform: rotate(-13deg);
}

.selfie {
  background-image: url("../images/bg-selfie.jpg");
  background-size: cover;
  height: 100vh;
}
.videollamadas {
  height: 100vh;
}

.herramientas {
  background-image: url("../images/bg-herramientas.jpg");
  background-size: cover;
  height: 100vh;
}

.workflow {
  background-image: url("../images/bg-workflow.jpg");
  background-size: cover;
  height: auto;
  margin-top: 85px;
}

.text-white {
  color: #fff !important;
}

.ife-img {
  height: 300px;
}
.icon-validacion {
  margin: 1rem;
  margin-bottom: 3rem;
  height: 45px;
}
.h-15 {
  height: 15px;
}
.h-45 {
  height: 45px;
}
.h-67 {
  height: 67px;
}
.fixed-theme .navbar-brand__regular {
  max-height: 65px;
  transition: max-height 0.1s ease-out;
}
.plataforma {
  margin-top: 3rem;
  min-height: 540px;
}
.min-260 {
  min-height: 260px;
}
.min-492 {
  min-height: 491px;
}
.platform-img {
  width: 128%;
  margin: 0 -10%;
}
.img-block img {
  height: 100px;
  margin: 1rem;
}
.line-analitic {
  position: absolute;
  top: 71px;
  left: -80px;
  height: 40px;
}
.line-monitoreo {
  height: 19px;
  position: absolute;
  bottom: 83px;
}
.line-look {
  position: absolute;
  top: 50px;
  right: -85px;
  height: 40px;
}
.line-experiencia {
  position: absolute;
  right: -13px;
  bottom: 123px;
  height: 19px;
}
.configuracion h5 {
  font-weight: 900;
}
.configuracion .number-config {
  font-size: 2rem;
  font-weight: 600;
}
.margin-one {
  margin-top: 6rem !important;
}
.margin-two {
  margin-top: 3rem !important;
}
.margin-three {
  margin-top: 0rem !important;
}
.margin-four {
  margin-top: 2rem !important;
}
.number-config.one {
  color: #fe4181;
}
.number-config.two {
  color: #ff4a7f;
}
.number-config.three {
  color: #ff7170;
}
.number-config.four {
  color: #ffa85b;
}
.linea {
  position: relative;
  bottom: 81px;
  left: -75px;
}
.config-list {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: left;
  margin-left: 1rem;
}
.margin-minus-10 {
  margin-top: -10rem;
}
.aplicaciones {
  margin-top: 120px;
}
.icon-aplicacion {
  height: 50px;
  margin: 1rem;
}
.features-bg {
  background-image: url("../images/wave.png");
  background-size: cover;
  margin-top: -8rem;
}
.mt-features {
  padding-top: 14rem;
}
.contact-bg {
  background-image: url("../images/contact-bg.png");
  background-size: cover;
  min-height: 100vh;
}
.mt-100 {
  margin-top: 90px;
}
.left-side-contact {
  background-color: rgba(0, 0, 0, 0.612);
  padding: 2rem 1.6rem;
}
.right-side-contact {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 36px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem 1.6rem;
}
.contact-title:after {
  background: none repeat scroll 0 0 #065695;
  bottom: -10px;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  left: 0;
  width: 60px;
}
.form-control {
  border: 0;
  border-radius: 0;
  outline: none;
  border-bottom: 1px solid #333;
}
.form-control:focus {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #333;
}
.map {
  height: 100vh;
}
.detection {
  background-image: url("../images/bg-proof.png");
  background-size: cover;
  height: 100vh;
}
.spoof {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.59);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.icon-heart {
  height: 40px;
}
.icon-prohibido {
  height: 20px;
}
.text-red {
  color: #ca0000;
}
.attacks {
  margin-top: -2rem;
}
.img-attack {
  max-height: 350px;
}
.firma {
  height: 80vh;
}
.firma-img {
  height: 400px;
  margin: 3rem 0;
}
@media (max-width: 576px) {
  .Grupo-1-copia {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .header-content {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 85px;
    background-position-x: 36%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .navbar-brand__regular {
    height: 80px;
  }
  /* .navbar-toggler {
    margin-top: 0x;
  }
  .fixed-theme .navbar-toggler {
    margin-top: 0;
  } */
  .platform {
    padding-top: 2rem;
    min-height: 600px;
  }
  .app-bg {
    height: 300px !important;
  }
  .platform-img {
    width: 100%;
    margin: 0;
  }
  .min-260 {
    min-height: 211px;
  }
  .plataforma .pb-5 {
    padding-bottom: 1rem !important;
  }
  .plataforma h1 {
    margin-top: 3rem;
  }
  .margin-one,
  .margin-two,
  .margin-three,
  .margin-four {
    margin-top: 1rem !important;
  }
  .footer-nav {
    width: 100%;
  }
  .footer .container {
    padding-right: 3px;
    padding-left: 3px;
  }
  .bg-light {
    opacity: 1;
  }
  .aplicaciones-img {
    width: 100%;
    height: auto;
  }
  .features-bg {
    margin-top: -11rem;
    background-position-x: 15%;
    background-repeat: no-repeat;
  }
  .navbar-collapse {
    margin: 0px -1rem;
    background: #fff;
  }
  .us {
    background-size: 55%;
    min-height: 734px;
  }
  .us h5 {
    margin-top: 2rem;
  }

  .solucion-card {
    box-shadow: 0px 1px 13px 0px rgba(9, 9, 9, 0.11);
    height: 270px;
    margin-bottom: 1rem;
  }
  .solucion-card .pt-4 {
    padding-top: 1rem !important;
  }
  .solucion-card .btn-outline-gray {
    opacity: 1;
  }
  .valor {
    margin: 1rem auto;
    height: auto;
  }
  .ia {
    background-repeat: no-repeat;
    background-size: 324%;
    background-position-x: 35%;
    background-position-y: -9%;
    height: auto;
  }
  .ia h2 {
    margin-top: 3rem;
  }
  .workflow {
    padding-top: 1rem;
  }
  .ife-img {
    height: auto;
    width: 80%;
  }
  .chatbots {
    margin: 1rem auto;
    height: auto;
  }
  .detection {
    background-position: center;
  }
  .chatbot-mobile {
    background: rgba(0, 0, 0, 0.7);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .chatbots .smartphone {
    height: 200px;
    margin: 1rem;
    margin-left: 10rem;
  }
  .gif {
    height: 150px;
    margin: 1rem;
    position: absolute;
    right: 13%;
    top: 10%;
  }
  .gif-person-1 {
    right: 28%;
    width: 205px;
  }
  .gif-person-2 {
    right: 14%;
    width: 86px;
    margin-top: 12rem;
  }
  .videollamadas {
    margin: 1rem auto;
    height: auto;
  }
  .videollamadas h2 {
    margin-top: 2rem;
  }
  .img-attack {
    width: 280px;
    height: auto;
  }
  .firma {
    margin: 1rem auto;
    height: auto;
  }
  .firma-img {
    height: auto;
    margin: 0rem 0;
    width: 100%;
  }
}
